<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="mailernet" type="Mailer.NET.Mailer.Internal.ConfigFile.MailerNetSection, Mailer.NET, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" requirePermission="false" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <mailernet>
      <defaultTransport type="Mailer.NET.Mailer.Transport.MailgunTransport, Mailer.NET">
        <parameters>
          <parameter value="domain"/>
          <parameter value="apikey"/>
        </parameters>
      </defaultTransport>
    </mailernet>
</configuration>